@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .prevent-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.focus\:outline-none:focus {
  @apply outline-none;
}

.swiper .swiper-pagination-bullet {
  background-color: #7173fa;
  margin: 0 8px !important;
}

.group:hover input {
  background-color: #f5f6ff;
}
